---
import Container from "./Container.astro"
import { softVariant as card } from "@tailus/themer-card";
import { cn } from "@lib/utils";
---

<section class="text-gray-600 dark:text-gray-300 scroll-mt-24" id="reviews">
  <Container>
    <div class="text-center">
      <h2 class="text-3xl text-gray-950 dark:text-white font-semibold md:text-4xl">Loved by the Community</h2>
      <p class="mt-4 text-gray-600 dark:text-gray-400">Join and grow the Gardening community with CitySproutIQ.</p>
    </div>
    <div class="mt-12 grid sm:grid-cols-2 lg:grid-cols-3 gap-3">
        <div class="space-y-3">
            <div class={cn(card)}>
                <div class="flex gap-3">
                    <span class="relative block rounded-[--avatar-border-radius] text-lg size-10">
                        <img class="h-full w-full rounded-[--avatar-border-radius] object-cover" alt="John Doe" src="https://randomuser.me/api/portraits/women/1.jpg" loading="lazy" width="120" height="120">
                    </span>
                    <div class="w-[calc(100%-3.25rem)]">
                        <h3 class="font-medium text-gray-950 dark:text-white">Sarah W.</h3>
                        <span class="block text-sm tracking-wide text-gray-600 dark:text-gray-400">A Balcony Oasis</span>
                        <blockquote class="mt-3">
                            <p class="text-gray-600 dark:text-gray-400">
                                CitySproutIQ has completely transformed my balcony garden! The real-time insights and smart alerts keep my plants thriving effortlessly.
                            </p>
                        </blockquote>
                    </div>
                </div>
            </div>

            <div class={cn(card)}>
                <div class="flex gap-3">
                    <span class="relative block rounded-[--avatar-border-radius] text-lg size-10">
                        <img class="h-full w-full rounded-[--avatar-border-radius] object-cover" alt="John Doe" src="https://randomuser.me/api/portraits/men/6.jpg" loading="lazy" width="120" height="120">
                    </span>
                    <div class="w-[calc(100%-3.25rem)]">
                        <h3 class="font-medium text-gray-950 dark:text-white">John D.</h3>
                        <span class="block text-sm tracking-wide text-gray-600 dark:text-gray-400">Urban Gardening Made Easy</span>
                        <blockquote class="mt-3">
                            <p class="text-gray-600 dark:text-gray-400">
                                I never thought urban gardening could be this easy and fun. Thanks to CitySproutIQ, I now have a lush green space in my city apartment!
                            </p>
                        </blockquote>
                    </div>
                </div>
            </div>

            <div class={cn(card)}>
                <div class="flex gap-3">
                    <span class="relative block rounded-[--avatar-border-radius] text-lg size-10">
                        <img class="h-full w-full rounded-[--avatar-border-radius] object-cover" alt="John Doe" src="https://randomuser.me/api/portraits/women/7.jpg" loading="lazy" width="120" height="120">
                    </span>
                    <div class="w-[calc(100%-3.25rem)]">
                        <h3 class="font-medium text-gray-950 dark:text-white">Emily R.</h3>
                        <span class="block text-sm tracking-wide text-gray-600 dark:text-gray-400">New Favourite App</span>
                        <blockquote class="mt-3">
                            <p class="text-gray-600 dark:text-gray-400">
                                CitySproutIQ is now my favorite app ❤️. The interface is sleek and user-friendly, making garden management a pleasure rather than a chore. The real-time monitoring helps me stay on top of my plants' needs, and the eco-friendly focus aligns perfectly with my values. A must-have for every urban gardener!
                            </p>
                        </blockquote>
                    </div>
                </div>
            </div>



            <div class={cn(card)}>
                <div class="flex gap-3">
                    <span class="relative block rounded-[--avatar-border-radius] text-lg size-10">
                        <img class="h-full w-full rounded-[--avatar-border-radius] object-cover" alt="John Doe" src="https://randomuser.me/api/portraits/men/8.jpg" loading="lazy" width="120" height="120">
                    </span>
                    <div class="w-[calc(100%-3.25rem)]">
                        <h3 class="font-medium text-gray-950 dark:text-white">Mark H.</h3>
                        <span class="block text-sm tracking-wide text-gray-600 dark:text-gray-400">Gardening Simplified</span>
                        <blockquote class="mt-3">
                            <p class="text-gray-600 dark:text-gray-400">
                                I'm new to gardening, but CitySproutIQ made it so simple. The app is user-friendly and the community support is amazing. I had always been intimidated by the thought of maintaining a garden in my small urban apartment, but now it's a breeze. From the real-time insights to the seamless device integrations, every feature has been thoughtfully designed to cater to novice gardeners like me. I highly recommend CitySproutIQ to anyone looking to start their urban gardening journey.
                            </p>
                        </blockquote>
                    </div>
                </div>
            </div>

        </div>



        <div class="space-y-3">
            <!-- Start of Testimonial 3 -->
            <div class={cn(card)}>
                <div class="flex gap-3">
                    <span class="relative block rounded-[--avatar-border-radius] text-lg size-10">
                        <img class="h-full w-full rounded-[--avatar-border-radius] object-cover" alt="John Doe" src="https://randomuser.me/api/portraits/men/5.jpg">
                    </span>
                    <div class="w-[calc(100%-3.25rem)]">
                        <h3 class="font-medium text-gray-950 dark:text-white">David M.</h3>
                        <span class="block text-sm tracking-wide text-gray-600 dark:text-gray-400">AI that works</span>
                        <blockquote class="mt-3">
                            <p class="text-gray-600 dark:text-gray-400">
                                CitySproutIQ's AI-driven insights are incredibly accurate and helpful. I've been able to grow my herbs and vegetables with ease, knowing exactly when to water them and how to adjust the nutrients. The app's sleek interface makes monitoring my garden a pleasure, and the community feature is a wonderful bonus.
                            </p>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class={cn(card)}>
                <div class="flex gap-3">
                    <span class="relative block rounded-[--avatar-border-radius] text-lg size-10">
                        <img class="h-full w-full rounded-[--avatar-border-radius] object-cover" alt="John Doe" src="https://randomuser.me/api/portraits/men/4.jpg" loading="lazy" width="120" height="120">
                    </span>
                    <div class="w-[calc(100%-3.25rem)]">
                        <h3 class="font-medium text-gray-950 dark:text-white">Shekinah Tshiokufila</h3>
                        <span class="block text-sm tracking-wide text-gray-600 dark:text-gray-400">Perfect for Busy Professionals</span>
                        <blockquote class="mt-3">
                            <p class="text-gray-600 dark:text-gray-400">
                                As a busy professional, I love how CitySproutIQ takes the guesswork out of gardening. It's like having a personal gardener in my pocket!
                            </p>
                        </blockquote>
                    </div>
                </div>
            </div>

            <!-- Start of Testimonial 4 -->
            <div class={cn(card)}>
                <div class="flex gap-3">
                    <span class="relative block rounded-[--avatar-border-radius] text-lg size-10">
                        <img class="h-full w-full rounded-[--avatar-border-radius] object-cover" alt="John Doe" src="https://randomuser.me/api/portraits/men/2.jpg" loading="lazy" width="120" height="120">
                    </span>
                    <div class="w-[calc(100%-3.25rem)]">
                        <h3 class="font-medium text-gray-950 dark:text-white">Liam P.</h3>
                        <span class="block text-sm tracking-wide text-gray-600 dark:text-gray-400">Seamless Integration</span>
                        <blockquote class="mt-3">
                            <p class="text-gray-600 dark:text-gray-400">
                                The smart integration with my hydroponic system is seamless. CitySproutIQ is a game-changer for urban farmers.
                            </p>
                        </blockquote>
                    </div>
                </div>
            </div>

            <!-- Start of Testimonial 5 -->


            <div class={cn(card)}>
                <div class="flex gap-3">
                    <span class="relative block rounded-[--avatar-border-radius] text-lg size-10">
                        <img class="h-full w-full rounded-[--avatar-border-radius] object-cover" alt="John Doe" src="https://randomuser.me/api/portraits/women/9.jpg" loading="lazy" width="120" height="120">
                    </span>
                    <div class="w-[calc(100%-3.25rem)]">
                        <h3 class="font-medium text-gray-950 dark:text-white">Sophia Kitheka</h3>
                        <span class="block text-sm tracking-wide text-gray-600 dark:text-gray-400">Thriving Rooftop Garden</span>
                        <blockquote class="mt-3">
                            <p class="text-gray-600 dark:text-gray-400">
                                Thanks to CitySproutIQ, my rooftop garden is thriving like never before. The platform's intuitive design and real-time monitoring capabilities make gardening a joy. I particularly love the community feature, where I can connect with other urban gardeners and share tips. The support and recommendations I've received from the app have been invaluable in turning my rooftop into a green oasis.
                            </p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-y-3">
            <div class={cn(card)}>
                <div class="flex gap-3">
                    <span class="relative block rounded-[--avatar-border-radius] text-lg size-10">
                        <img class="h-full w-full rounded-[--avatar-border-radius] object-cover" alt="John Doe" src="https://randomuser.me/api/portraits/men/10.jpg" loading="lazy" width="120" height="120">
                    </span>
                    <div class="w-[calc(100%-3.25rem)]">
                        <h3 class="font-medium text-gray-950 dark:text-white">Ethan G.</h3>
                        <span class="block text-sm tracking-wide text-gray-600 dark:text-gray-400">Trouble-Free Gardening</span>
                        <blockquote class="mt-3">
                            <p class="text-gray-600 dark:text-gray-400">
                                CitySproutIQ made gardening trouble-free for me. The smart alerts are timely and keep me informed about everything I need to do to ensure my plants are healthy and happy. It’s like having a personal assistant for my garden.
                            </p>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class={cn(card)}>
                <div class="flex gap-3">
                    <span class="relative block rounded-[--avatar-border-radius] text-lg size-10">
                        <img class="h-full w-full rounded-[--avatar-border-radius] object-cover" alt="John Doe" src="https://randomuser.me/api/portraits/women/11.jpg" loading="lazy" width="120" height="120">
                    </span>
                    <div class="w-[calc(100%-3.25rem)]">
                        <h3 class="font-medium text-gray-950 dark:text-white">Emma L.</h3>
                        <span class="block text-sm tracking-wide text-gray-600 dark:text-gray-400">Highly Recommend</span>
                        <blockquote class="mt-3">
                            <p class="text-gray-600 dark:text-gray-400">
                                The sustainability focus of CitySproutIQ has helped me adopt more eco-friendly practices in my urban garden. The detailed analytics and personalized care recommendations are impressive, and they have made a noticeable difference in my plant's health. Highly recommend this platform to all urban gardeners!
                            </p>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class={cn(card)}>
                <div class="flex gap-3">
                    <span class="relative block rounded-[--avatar-border-radius] text-lg size-10">
                        <img class="h-full w-full rounded-[--avatar-border-radius] object-cover" alt="John Doe" src="https://randomuser.me/api/portraits/men/12.jpg" loading="lazy" width="120" height="120">
                    </span>
                    <div class="w-[calc(100%-3.25rem)]">
                        <h3 class="font-medium text-gray-950 dark:text-white">Lucas V.</h3>
                        <span class="block text-sm tracking-wide text-gray-600 dark:text-gray-400">Magic in My Pocket </span>
                        <blockquote class="mt-3">
                            <p class="text-gray-600 dark:text-gray-400">
                                CitySproutIQ has brought so much joy to my urban gardening experience! The customization options are perfect 🌿. I can tailor the dashboard to my specific needs and preferences, making it incredibly easy to monitor my garden. It's like having a personal assistant for my plants!
                            </p>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class={cn(card)}>
                <div class="flex gap-3">
                    <span class="relative block rounded-[--avatar-border-radius] text-lg size-10">
                        <img class="h-full w-full rounded-[--avatar-border-radius] object-cover" alt="John Doe" src="https://randomuser.me/api/portraits/women/13.jpg" loading="lazy" width="120" height="120">
                    </span>
                    <div class="w-[calc(100%-3.25rem)]">
                        <h3 class="font-medium text-gray-950 dark:text-white">Isabella J.</h3>
                        <span class="block text-sm tracking-wide text-gray-600 dark:text-gray-400">Gardening Bliss</span>
                        <blockquote class="mt-3">
                            <p class="text-gray-600 dark:text-gray-400">
                                With CitySproutIQ, I get timely alerts that help me keep my garden in top shape. It's like magic! ✨ The AI-driven insights are incredibly accurate, and the community feature allows me to connect with other gardening enthusiasts. I absolutely love it!
                            </p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </Container>
</section>